# language models should not be retained
*.dic
*.lm
*.tgz
ftee

# Compiled python
*.pyc

# Wolfram notebooks (store as wl files)
*.nb

# Nothing useful in the arduino build directory
arduino/build-uno/

# VI swap files
*.swp
